<form name="addWorkoutForm">
    <h3>Add Workout</h3>
    <div class="form-group">
        <label class="control-label">Date</label>
        <input type="date" class="form-control" name="Date" ng-model="workout.Date" required placeholder="Date" />
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        <input type="text" class="form-control" name="Description" ng-model="workout.Description" required placeholder="Description" />
    </div>
    <button class="btn btn-primary" ng-click="addWorkout()">Add Workout</button>
    <a class="btn btn-secondary" href="#/" role="button">Cancel</a>
</form>