<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MongoServer" value="workouttracker.documents.azure.com" />
		<add key="MongoPort" value="10250" />
		<add key="MongoUser" value="workouttracker" />
		<add key="MongoPassword" value="GPmMNB6GGqs7pD5fsOIILjFV1B9ZpdkPMbOG4EN6tGjDknpJSvzcR4MYLO6to0qbN4dY6qglNVb6deHCCCGSlw==" />
	</appSettings>
</configuration>